<div class="form-container">
    <h2>User Login</h2>
    <form #userForm="ngForm" (ngSubmit)="btn()">
      <!-- Username -->
      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="user.name"
          #username="ngModel"
          [(ngModel)]="user.name"
          required
          minlength="3"
          class="form-input"
        />
        <div *ngIf="username.touched && username.invalid">
          <div *ngIf="username.errors?.['required']" class="error">
            Please provide a username.
          </div>
          <div *ngIf="username.errors?.['minlength']" class="error">
            Name cannot be less than 3 characters.
          </div>
        </div>
      </div>
  
      <!-- Password -->
      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="user.password"
          #password="ngModel"
          [(ngModel)]="user.password"
          required
          minlength="6"
          class="form-input"
        />
        <div *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors?.['required']" class="error">
            Password is required.
          </div>
          <div *ngIf="password.errors?.['minlength']" class="error">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" [disabled]="userForm.invalid" class="form-button">
        Login
      </button>
    </form>
  </div>
  
