.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 70px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .delete-button,
  .back-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  .back-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  