<div class="background h-screen w-screen absolute top-0 left-0 z-[-1]">
  <div class="absolute inset-0 bg-black opacity-60"></div>

  <!-- Main Content -->
  <main class="flex-none w-100">
    <div class="relative isolate">
      <div class="mx-auto max-w-2xl sm:py-48 lg:py-28 text-center">
        <h1 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl fade-in">
          Welcome {{name}}
        </h1>
        <p class="custom-font mt-8 text-2xl font-medium text-slate-50 sm:text-xl/8 fade-in">
          Effortless vehicle insurance management, secure policies, fast claims, and seamless customer experiences every time!
        </p>
      </div>
    </div>
  </main>
</div>
